/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-sc-block-testimonial {
  border: .1em solid #aaaaaa;
  border-radius: .5em;
  color: black;
  margin: 0 auto;
  background-color: #F3F3F3;

  .stars {
	text-align: center;
	font-size: 2em;
	letter-spacing: .5em;
	margin-top: .5em;
	color: gold;

	select {
	  width: 10em;
	}
  }

  .quote {
	width: 100%;
	padding: 1.5em;
	line-height: 1.5;
  }

  .quote-profile {
	background-color: white;
	border-radius: 0 0 .5em .5em;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.photo img {
	  width: 75px;
	  height: 75px;
	  object-fit: cover;
	  border-radius: 50%;
	  margin-right: 2em;
	}

	.author, .location {
	  margin: 0;
	  text-align: right;
	  font-weight: 700;
	}

	.location {
	  font-weight: 300;
	  font-size: 0.7em;
	}
  }
}
